.Wallpapers_cache
.Xauthority
.bash_history
.bash_logout
.bash_profile
.cache
.config/Brave*
.config/QuProject*
.config/calcurse*
.config/dconf*
.config/font-manager*
.config/htop*
.config/i3*
.config/midori*
.config/mimeapps*
.config/neofetch*
.config/netsurf*
.config/pulse*
.config/ranger/commands.py
.config/ranger/commands_full.py
.config/ranger/scope.sh
.dwm
.dwmblocks
.elinks
.fehbg
.git-credentials
.gitconfig
.gnupg
.lesshst
.local
.mozilla
.pki
.rnd
.st
.surf
.vim
.viminfo
.w3m
.wget-hsts
.yay
Desktop
Downloads
Photos
Videos
Wallpapers
.Wallpapers_cache
.Xauthority
.bash_history
.bash_logout
.bash_profile
.cache
.config/Brave*
.config/QuProject*
.config/calcurse*
.config/dconf*
.config/font-manager*
.config/htop*
.config/i3*
.config/midori*
.config/mimeapps*
.config/neofetch*
.config/netsurf*
.config/pulse*
.config/ranger/commands.py
.config/ranger/commands_full.py
.config/ranger/scope.sh
.dwm
.dwmblocks
.elinks
.fehbg
.git-credentials
.gitconfig
.gnupg
.lesshst
.local
.mozilla
.pki
.rnd
.st
.surf
.vim
.viminfo
.w3m
.wget-hsts
.yay
Desktop
Downloads
Photos
Videos
Wallpapers
.config/QtProject.conf
.config/fontforge
Documents
fontmerge
.config/qalculate*
.npm*
.config/GIMP/*
.config/gtk-2.0/*
.config/libreoffice/*
.config/lutris/*
.config/menus/*
.config/nvim/*
.config/qutebrowser/*
.config/systemd/*
.ssh/*
.wine*
Games/*
.FreeCAD/*
.config/FreeCAD/*
.renpy/*
.steam/*
.steampath
.steampid
proton/*
.config/Trolltech.conf
.config/emaildefaults
.config/fcitx/cached_layout
.config/fcitx/clipboard/
.config/fcitx/conf/
.config/fcitx/config
.config/fcitx/data/
.config/fcitx/dbus
.config/fcitx/profile
.config/jvlt/
.config/mozc/
.config/parleyrc
.config/tagaini.net/
.java/
.python_history
Audio/
.newsboat/
.config/Thunar/
.config/fcitx/log/
.config/xfce4/
.config/wineReg/
.mtab.fuseiso
.ICEauthority
.audacity-data/
.config/.todoist-linux.json
.config/Microsoft/
.config/ParaView/
.config/Todoist/
.config/autostart/
.config/cef_user_data/
.config/dunst/
.config/gconf/
.config/hexchat/
.config/kdeglobals
.config/kdenlive-layoutsrc
.config/kdenliverc
.config/obs-studio/
.config/privateinternetaccess/
.fltk/
.ipynb_checkpoints/
.ipython/
.todoist.cache.json
.todoist.config.json
FCGit/
OpenFOAM/
Recordings/
VideosGit1/
lib32-x264/
.purple/
Notes
.config/Joplin
.config/Nextcloud
.config/configstore
.config/joplin-desktop
.electron-gyp
.node-gyp
.yarnrc
Share
VideosGit
mediastorage
q
.cmenu/
.config/ChiTuBox/
.config/flameshot/
.config/gtk-3.0/
.config/nuclear/
.config/user-dirs.dirs
.config/user-dirs.locale
.dotnet/
.gmshrc
.inputrc
.nuget/
.scripts/cmenu
.scripts/joplin
.scripts/mountMainframe
.scripts/mountMedia
.subversion
Nextcloud*
snap/
prints/
PartsLibrary/
