.Wallpapers_cache
.Xauthority
.bash_history
.bash_logout
.bash_profile
.cache
.config/Brave*
.config/QuProject*
.config/calcurse*
.config/dconf*
.config/font-manager*
.config/htop*
.config/i3*
.config/midori*
.config/mimeapps*
.config/neofetch*
.config/netsurf*
.config/pulse*
.config/ranger/commands.py
.config/ranger/commands_full.py
.config/ranger/scope.sh
.dwm
.dwmblocks
.elinks
.fehbg
.git-credentials
.gitconfig
.gnupg
.lesshst
.local
.mozilla
.pki
.rnd
.st
.surf
.vim
.viminfo
.w3m
.wget-hsts
.yay
Desktop
Downloads
Photos
Videos
Wallpapers
.Wallpapers_cache
.Xauthority
.bash_history
.bash_logout
.bash_profile
.cache
.config/Brave*
.config/QuProject*
.config/calcurse*
.config/dconf*
.config/font-manager*
.config/htop*
.config/i3*
.config/midori*
.config/mimeapps*
.config/neofetch*
.config/netsurf*
.config/pulse*
.config/ranger/commands.py
.config/ranger/commands_full.py
.config/ranger/scope.sh
.dwm
.dwmblocks
.elinks
.fehbg
.git-credentials
.gitconfig
.gnupg
.lesshst
.local
.mozilla
.pki
.rnd
.st
.surf
.vim
.viminfo
.w3m
.wget-hsts
.yay
Desktop
Downloads
Photos
Videos
Wallpapers
.config/QtProject.conf
.config/fontforge
Documents
fontmerge
.config/qalculate*
.npm*
.config/GIMP/*
.config/gtk-2.0/*
.config/libreoffice/*
.config/lutris/*
.config/menus/*
.config/nvim/*
.config/qutebrowser/*
.config/systemd/*
.ssh/*
.wine*
Games/*
.FreeCAD/*
.config/FreeCAD/*
.renpy/*
.steam/*
.steampath
.steampid
proton/*
.config/Trolltech.conf
.config/emaildefaults
.config/fcitx/cached_layout
.config/fcitx/clipboard/
.config/fcitx/conf/
.config/fcitx/config
.config/fcitx/data/
.config/fcitx/dbus
.config/fcitx/profile
.config/jvlt/
.config/mozc/
.config/parleyrc
.config/tagaini.net/
.java/
.python_history

Audio/
.newsboat/
